In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
df = pd.read_csv('dataset/05-insurance_charges.csv')

In [5]:
df.shape

(1338, 7)

In [6]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df['smoker'] = df['smoker'].map({'yes': 1, 'no': 0})

In [8]:
df.head()

   age     sex     bmi  children  smoker     region      charges
0   19  female  27.900         0       1  southwest  16884.92400
1   18    male  33.770         1       0  southeast   1725.55230
2   28    male  33.000         3       0  southeast   4449.46200
3   33    male  22.705         0       0  northwest  21984.47061
4   32    male  28.880         0       0  northwest   3866.85520

In [9]:
df = df.drop('sex', axis=1)
df = df.drop('region', axis=1)
df.head()

   age     bmi  children  smoker      charges
0   19  27.900         0       1  16884.92400
1   18  33.770         1       0   1725.55230
2   28  33.000         3       0   4449.46200
3   33  22.705         0       0  21984.47061
4   32  28.880         0       0   3866.85520

In [13]:
X = df.iloc[:, :-1]
y = df.iloc[:,df.shape[1]-1]
print(y)

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [15]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [16]:
y_pred = model.predict(X_test)

In [17]:
print(f'b = {model.intercept_}')
print(f'w = {model.coef_}')

b = -12268.326378050351
w = [  260.00849987   327.57844442   435.24021194 23632.63999974]

In [18]:
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Mean squared error: 35403760.37
Coefficient of determination: 0.77